/* Main stylesheet for My Times, project for Codecademy
   Unit 4, days 9-13
   J. Stuart Harris
 */

/* General style code for the entire website - defaults
 */
body {
  font-family: Verdana;
  background-color: white;
  margin: 0 0;
}

a {
  color: black;
}


/* Styles for the header subsections
 */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  padding: 20px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.logotext {
  padding: 0 16px;
  color: MediumAquamarine;
}

header div {
  margin-left: 30px;
  display: flex;
  align-items: center;
  /* border: 1px solid violet; */
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

header nav span {
  padding: 0 10px;
}


/* Styles for the main content section. Includes articles in columns.
 */
.maincontent {
  /* border: 1px solid blue;*/
  width: 1260px;
	margin: 0 auto 78px auto;
  padding: 0;
  position: relative;
  top: 130px;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.Secondary {
  width: 300px;
  max-width:300px;
}

.column {
  /* border: 1px solid red; */
  display: flex;
  flex-shrink: 0;
}

.column.large { /* large */
  width: 630px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.column.medium { /* medium */
  width: 300px;
  margin: 0 30px;
  flex-flow: column wrap;
}

.column.small { /* small */
  width: 240px;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.picleader {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  height: 300px;
}

.picleader span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.bitetitle {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 36px auto 36px 62px;
}

.bitelist {
  background-color: WhiteSmoke;
}

.biteitem {
  display: block;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 25px 10px 16px;
  border-bottom: 1px solid black;
}

#maintitle {
  font-size: 40px;
}

#motherphish {
  background-image: url("../images/img-story-main.png");
  background-color: gray;
}

#earthspins {
  background-image: url("../images/img-story-2.png");
  width: 300px;
  background-color: gray;
}

#cameramemory {
  background-image: url("../images/img-story-3.png");
  width: 300px;
  background-color: gray;
}

#catscontrol {
  background-image: url("../images/img-story-1.png");
  background-color: gray;
}

/* Styles for the footer subsections
 */

 footer {
   position: relative;
   top: 130px;
   height: 300px;
   display: flex;
   flex-flow: column wrap;
   align-content: center;
   align-items: center;
   justify-content: center;
   background-color: MediumAquamarine;
   margin: auto;
   font-family: Verdana;
   font-size: 12px;
 }

.footerlogo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
}

.footerbar {
  font-family: Georgia;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
}

footer div {
  display: inline-flex;
}
footer div nav {
  display: block;
}

footer div nav span {
  padding: 0 15px;
}

footer span { /* copyright line */
  padding: 15px 0;
}
