/* Main stylesheet for My Times, project for Codecademy
   Unit 4, days 9-13
   J. Stuart Harris
 */

body {
  font-family: Verdana;
  background-color: white;
  margin: 0 0;
}

#headerbox {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: sticky;
  display: flex;
  padding: 15px 40px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

nav {
}

nav span {
  display: inline-block;
  padding: 0 10px;
}

a {
  color: black;
}

section {
  border: 1px solid blue;
  width: 1260px;
	margin: 0 auto 78px auto;
  padding: 0;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

article {
  border: 1px solid green;
}

.column {
  border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  flex-shrink: 0;
}

.logotext {
  padding: 0 16px;
  color: MediumAquamarine;
}

.column.large { /* large */
  width: 630px;
}

.column.medium { /* medium */
  width: 300px;
  margin: 0 30px;
}

.column.small { /* small */
  width: 240px;
}

#topmenu {
  display: inline-flex;
  align-content: flex-end;
}
